.tools-bg{
    background-image: url(https://pe-images.s3.amazonaws.com/basics/cc/gradients/essentials/photoshop-angle-gradient.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}