.banner-bg{
    background-image: url(https://thumbs.dreamstime.com/b/wooden-background-tools-banner-hardware-store-building-company-screwdrivers-pliers-electrical-tape-construction-133496199.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}